@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblUyeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyeler</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Okul</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Kitap Geçmişi</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.ID</td>
            <td>@u.AD</td>
            <td>@u.SOYAD</td>
            <td>@u.OKUL</td>
            <td><a href="/Uye/UyeSil/@u.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Uye/UyeGetir/@u.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Uye/UyeKitapGecmis/@u.ID" class="btn btn-info">Detay</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>